<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>
{% block title %}Sima Store{% endblock %}
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="background-glow"></div>

<main class="app-shell">

{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="toast-area">

{% for message in messages %}

<div class="toast">
{{ message }}
</div>

{% endfor %}

</div>

{% endif %}
{% endwith %}


{% block content %}
{% endblock %}

</main>


{% if session.get("user_id") %}

<nav class="bottom-nav">

<a href="/shop"
class="nav-item">

<span>🏠</span>
<small>Home</small>

</a>


<a href="/wallet"
class="nav-item">

<span>💰</span>
<small>Wallet</small>

</a>


<a href="/add-money"
class="nav-item nav-main">

<span>＋</span>
<small>Add Money</small>

</a>


<a href="/history"
class="nav-item">

<span>📜</span>
<small>History</small>

</a>


<a href="/help"
class="nav-item">

<span>👤</span>
<small>Profile</small>

</a>

</nav>

{% endif %}


<script
src="{{ url_for('static', filename='app.js') }}">
</script>

</body>
</html>
