{% extends "base.html" %}


{% block content %}

<h2 class="section-title">

<span>
📜
</span>

History

</h2>


<h3>
Wallet Deposits
</h3>

<br>


{% for deposit in deposits %}

<div class="history-card">

<h3>

₹{{ deposit.amount }}

</h3>

<p>

UTR: {{ deposit.utr }}

</p>

<p>

Status: {{ deposit.status }}

</p>

</div>


{% else %}

<div class="empty">

No deposits found.

</div>

{% endfor %}


<h2 class="section-title">

<span>
🛍️
</span>

Orders

</h2>


{% for item in history %}

<div class="history-card">

<h3>

{{ item.action }}

</h3>

<p>

{{ item.created_at }}

</p>


{% if item.amount > 0 %}

<div class="history-price">

₹{{ item.amount }}

</div>

{% endif %}

</div>


{% else %}

<div class="empty">

No history found.

</div>

{% endfor %}


{% endblock %}
